<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Stocks</a>
    </div>


   
  <div *ngIf="!loggedIn">
      <table>
        <tr>7
          <td>
        <input type="text" class="form-control" [(ngModel)]="mobileNumber" placeholder="Mobile Number" id="mobileNumber" name="mobileNumber">
      
    </td>
      <td>&nbsp;&nbsp;<button type="submit" (click)="login()" class="btn btn-outline-primary">LOGIN</button></td>
    </tr>
  </table>
</div>

<div *ngIf="loggedIn">
  <table>
    <tr>
      <td>
    <p style='color:white'>Logged in as <b>{{mobileNumber}}</b></p>
</td>
  <td>&nbsp;&nbsp;<button type="submit" (click)="logout()" class="btn btn-outline-primary">LOGOUT</button></td>
</tr>
</table>
</div>

    
  </div>
  <br/>

</nav>
<div class="container">
    <button [ngClass]="{'btn':true,'btn-primary':addFavouritesClicked}" (click)="addFavourites()">Add Favorites</button>
    <button [ngClass]="{'btn':true,'btn-primary':myFavouritesClicked}" (click)="myFavourites()">My Favourites</button>
    <hr />
 
  <router-outlet></router-outlet>
</div>