<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Stocks</a>
    </div>


   
    <form action="/action_page.php">
      <table>
        <tr>
          <td>
        <input type="text" class="form-control" placeholder="Mobile Number" id="usr" name="username">
      
    </td>
      <td>&nbsp;&nbsp;<button type="submit" class="btn btn-outline-primary">LOGIN</button></td>
    </tr>
  </table>
    </form>

    
  </div>
  <br/>

</nav>
<div class="container">
    <button [ngClass]="{'btn':true,'btn-primary':addFavouritesClicked}" (click)="addFavourites()">Add Favorites</button>
    <button [ngClass]="{'btn':true,'btn-primary':myFavouritesClicked}" (click)="myFavourites()">My Favourites</button>
    <hr />
 
  <router-outlet></router-outlet>
</div>